
.home-title{
    color: var(--head);
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.data{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 4rem;
    outline: none;
    border: none;
    background: var(--primary);
    border-radius: 1rem; 
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}
button{
    padding: 0.5rem 1rem;
    outline: none;
    background: var(--primary);
    border: none;
    border-radius: 1rem;
}
.input-wrap{
    display: flex;  
    min-width: 100px;
    border: 1.5px solid var(--font);
    border-radius: 15px;
    opacity: 0.7;
   
}
.shadow{
    box-shadow: -3px -3px 7px #706c6c73, 3px 3px 7px rgba(80, 82, 87, 0.288);
    margin-top: 1.5rem;
}
::placeholder{
    color: var(--font);
    opacity: 1;
}
.fa-search{
    color: var(--font);
    font-size: 1.4rem;
    cursor: pointer;
}